* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.header {
    width:100%;
    background-color: #2e2e2e; 
    
}


.navbar {
    max-width: 1200px;
    margin: auto;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
}


.nav-left {
    display: flex;
    align-items: center;
    
}


.nav-middle {
    color: #ffffff;
    font-style:italic;
    flex: 1;
    margin-left: 15px;
}


.nav-right {
    list-style:none ;
    display: flex;
    gap: 25px;
    margin-right: 5px;
}

.nav-right li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
    margin-right: 25px;
}

.nav-right li a:hover {
    color: #44b2e1; 
}
body {
   
    background-color: #FAF0DC;
}
.spacer {
    height: 115px;
}
.home_page {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;  
    background-color: #ffffff;
    height: 250px;
    border-radius: 15px;
    display: flex;
    border: 1px solid rgb(0, 0, 0);
}
.left_box {
    width: 65%;                 /* each takes half */
    height: 100%;
    border-right: 1px solid rgb(0, 0, 0);
}
.right_box {
    width: 35%;                 /* each takes half */
    height: 100%;
}
.left_box {
    background-color: #425664;
     border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.right_box {
    background-color: #06343C;
     border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
#welcome_text {
    margin-top:10px;
    
    text-align:center ;
}
#welcome_para {
    
    margin-left:12px;
    text-align:left ;
    padding-top: 15px;
}
.image_1 {
    
     width: 100%;
    height: 100%;
    object-fit: cover; 
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}   
.banner {
    mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
}


.moving-text {
    color: rgb(0, 0, 0);
    font-size: 15px;
    white-space: nowrap;        /* single line only */
   
    animation: moveText 15s linear infinite;
    padding-top: 35px;
}

/* animation */
@keyframes moveText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
